[Application]
name=My App
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
#entry_point=myapp:main
entry_point=myapp:main
icon=myapp.ico

[Python]
version=2.7.14

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = requests==2.18.4

# Other files and folders that should be installed
#files = data_files
